<form action="<%= action %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_name">Username</label>
  <input type="text" value="" name="<%= username_name %>" id="user_name">
  <br>
  <label for="user_password">Password</label>
  <input type="password" value="" name="<%= password_name %>" id="user_password">
  <br>

  <button type="submit">Submit</button>
</form>
